@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
	font-family: "Roboto", sans-serif;
}
.sidebar {
	background-color: #3da9fc;
	grid-column: 1 / 2;
	grid-row: 1/3;
	color: white;
	font-weight: bold;
	display: flex;
	gap: 20px;
	flex-direction: column;
}
.sidebar > ul {
	list-style-type: none;
	padding-left: 20px;
}
#dashboard {
	font-size: 24px;
}
.sidebar li {
	padding: 10px;
	align-items: center;
	display: flex;
}
.sidebar img {
	margin-right: 15px;
}
main {
	background-color: #90b4ce;
}
.card,
.announcements,
.trending {
	background-color: white;
}
body {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.top-nav {
	grid-column: 2 / 3;
}
main {
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px;
}
.top {
	display: grid;
	grid-template-columns: auto 1fr auto auto auto;
	align-items: center;
	margin-left: 20px;
}

.bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 10px;
}

.bottom-right {
	display: flex;
	margin-left: 20px;
}
.bottom-right img {
	border-radius: 50%;
	background-color: #3da9fc;
	padding: 10px;
}
.bottom-right div p {
	margin: 10px 5px;
}
.bottom-left {
	display: flex;
	align-items: center;
}
#big {
	font-size: 24px;
	font-weight: bold;
}

.bottom ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}
.bottom li {
	list-style-type: none;
	margin: 0 15px;
}
.bottom button {
	background-color: #3da9fc;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	padding: 10px 25px;
	width: 105px;
	border: none;
}
.projects {
	grid-column: 1/3;
	grid-row: 1/3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.projects h3 {
	grid-column: 1/3;
	margin: 0;
}
.card {
	border-radius: 10px;
}

.announcements {
	grid-column: 3/4;
	background-color: #90b4ce;
}
.trending {
	grid-column: 3/4;
	background-color: #90b4ce;
}
.trending div div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
}
