@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
	--primaryColor: #3da9fc;
	--secondaryColor: #e3e3e3;
}
html {
	font-family: "Roboto", sans-serif;
}
.sidebar {
	background-color: var(--primaryColor);
	grid-column: 1 / 2;
	grid-row: 1/3;
	color: white;
	font-weight: bold;
	display: flex;
	gap: 20px;
	flex-direction: column;
}
.sidebar > ul {
	list-style-type: none;
	padding-left: 20px;
}
#dashboard {
	font-size: 24px;
}
.sidebar li {
	padding: 10px;
	align-items: center;
	display: flex;
}
.sidebar img {
	margin-right: 15px;
}
main {
	background-color: var(--secondaryColor);
}
body {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.top-nav {
	grid-column: 2 / 3;
	position: relative;
	box-shadow: 0 4px 8px -4px grey;
}
main {
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px;
}
.top {
	display: grid;
	grid-template-columns: auto 1fr auto auto auto;
	align-items: center;
	margin-left: 20px;
	margin-top: 20px;
}
#top-right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-right: 30px;
}
#top-right .profile-Image {
	height: 48px;
}
.top input {
	margin: 0 300px 0 20px;
	border: none;
	background-color: var(--secondaryColor);
	border-radius: 20px;
}
.bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 10px;
}

.bottom-right {
	display: flex;
	margin-left: 20px;
}
.profile-Image {
	border-radius: 50%;
	background-color: var(--primaryColor);
	height: 64px;
}
.bottom-right div p {
	margin: 10px 5px;
}
.bottom-left {
	display: flex;
	align-items: flex-end;
}
#big {
	font-size: 24px;
	font-weight: bold;
}

.bottom ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin: 0 0 10px 0;
}
.bottom li {
	list-style-type: none;
	margin: 0 15px;
}
.bottom button {
	background-color: var(--primaryColor);
	color: white;
	font-weight: bold;
	border-radius: 25px;
	padding: 10px 25px;
	width: 105px;
	border: none;
}
.projects {
	grid-column: 1/3;
	grid-row: 1/3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.projects > .card {
	border-left: 5px solid goldenrod;
}
.projects > h3:first-child {
	grid-column: 1/3;
	margin-bottom: -10px;
}
.card {
	border-radius: 15px;
	box-shadow: 0 4px 8px -4px grey;
	padding: 5px 20px;
	background-color: white;
	color: #5f6c7b;
}
.card h4 {
	color: black;
	margin: 10px 0 0 0;
}
.card div:nth-child(-n + 2) {
	border-bottom: 1px solid #5f6c7b;
}
.announcements > h3 {
	margin-bottom: 10px;
}
.trending {
	grid-column: 3/4;
	background-color: var(--secondaryColor);
	align-self: end;
}
.tren-card {
	border-radius: 15px;
	box-shadow: 0 4px 8px -4px grey;
	padding: 5px 30px;
	background-color: white;
	color: #5f6c7b;
}
.trending > h3 {
	margin-bottom: 10px;
}
.trending div div {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

#du {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5px;
}
#du p {
	margin: 0;
}
#du p:first-child {
	color: black;
}
.socials {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	margin-bottom: 20px;
}
